<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		{%if title%}
		<title>{{title}}</title>
		{%else%}
		<title>silyman的博客</title>
		{%endif%}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link type='text/css' href="{% static 'css/slide_test.css' %}" rel='stylesheet' />
		<link type='text/css' href='{% static "css/login.css" %}' rel='stylesheet' />
		<script src="{% static 'js\jquery.min.js' %}"></script>
		<script src="{% static 'js\skel.min.js' %}"></script>
		<script src="{% static 'js\util.js' %}"></script>
		<script src="{% static 'js\main.js' %}"></script>
	</head>
	<body>
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href={%url 'blog:index'%}>silyman的博客</a></h1>
					<nav class="links">
						<ul>
							<li><a href={%url 'blog:index'%}>首页</a></li>
							<li><a href={%url 'blog:travel'%}>旅行</a></li>
							<li><a href={%url 'blog:foods'%}>美食</a></li>
							<li><a href={%url 'blog:movies'%}>电影</a></li>
							<li><a href={%url 'blog:reading'%}>读书</a></li>
							<li><a href={%url 'blog:notes'%}>杂记</a></li>
							{%if request.user.is_authenticated%}
							<li><a href={%url 'blog:home' request.user.id %}>我的主页</a></li>
							<li><a href="#">我的联系方式</a></li>
							{%else%}
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<li><a href="javascript:void(0)" onclick="login_Or_reg('login')" style="width:auto;">登录</a></li>
							<li><a href="#"  onclick="login_Or_reg('register')" style ="width:auto;">注册</a></li>
							{%endif%}
						</ul>
					</nav>
					<nav class="main">
						<ul>
							<li class="search">
								<a class="fa-search" href="#search">Search</a>
								<form id="search" method="get" action="/search/">
									<input type="text" name="q" placeholder="Search" />
								</form>
							</li>
							{%if request.user.is_authenticated%}
							<li class="menu">
								<a class="fa-bars" href="#menu">Menu</a>
							</li>
							{%endif%}
						</ul>
					</nav>
				</header>
			{%if request.user.is_authenticated%}
			<!-- Menu -->
				<section id="menu">

					<!-- Search -->
						<section>
							<form class="search" method="get" action="/search/">
								<input type="text" name="q" placeholder="Search" />
							</form>
						</section>

					<!-- Links -->
						<section>
							<ul class="links">
								<li>
									<a href={%url 'blog:blog_post' request.user.id %} style="font-size:20px;cursor:pointer" >
										<h3>写博客</h3>
									</a>
								</li>
								<li>
									<a href={%url 'blog:get_information' request.user.id%} style="font-size:20px;cursor:pointer">
										<h3>我的资料</h3>
									</a>
								</li>
								<li>
									<a href={%url 'blog:messages' request.user.id%} style="font-size:20px;cursor:pointer">
									{%if u_count%}
										<h3>我的消息({{u_count.total_count}})&nbsp;&lt;未读消息({{u_count.unread_count}})&gt;</h3>
									{%else%}
									<h3>我的消息(0)&nbsp;&lt;未读消息(0)&gt;</h3>
									{%endif%}
									</a>
								</li>
								<li>
									<a href={%url 'blog:myfollowing' request.user.id%} style="font-size:20px;cursor:pointer">
										<h3>关注</h3>
									</a>
								</li>
								<li>
									<a href={%url 'blog:myfollowers' request.user.id%} style="font-size:20px;cursor:pointer">
										<h3>粉丝</h3>
									</a>
								</li>
								<li>
									<a href={%url 'blog:collections' request.user.id %} style="font-size:20px;cursor:pointer">
										<h3>收藏</h3>
										<p>Phasellus sed ultricies mi congue</p>
									</a>
								</li>
								<li>
									<a href={%url 'blog:hearts' request.user.id %} style="font-size:20px;cursor:pointer">
										<h3>喜欢</h3>
										<p>Porta lectus amet ultricies</p>
									</a>
								</li>
							</ul>
						</section>
					<!-- Actions -->
						<section>
							<ul class="actions vertical">
								<li><a href="/accounts/logout/" class="button big fit" style="font-size:15px;cursor:pointer">退出登录</a></li>
							</ul>
						</section>
				</section>
			{%endif%}
		</div>
		{%if not request.user.is_authenticated%}
		{%include 'login1.html'%}
		{%endif%}
{%block content%}{%endblock%}
<script>
function login_Or_reg(t){
	if (t == 'login'){
		document.getElementById('register').style.display='none';
		document.getElementById('login').style.display='block';
	}
	else {
		document.getElementById('login').style.display='none';
		document.getElementById('register').style.display='block';
	}
}
function openNav() {
    document.getElementById("menu").style.display = "none";
    document.getElementById("write").style.height = "100%";
}
</script>
	</body>
</html>