		<div id="login" class="modal">
		  <form class="modal-content animate" method ="post" action="/accounts/login/">
		  {% csrf_token %}
			<div class="imgcontainer">
			  <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
			  <img src="https://static.runoob.com/images/mix/img_avatar.png" alt="Avatar" class="avatar">
			</div>

			<div class="container">
			  <p><label><b>用户名：</b></label></p>

			  <input type="text" placeholder="Enter Username" name="uname" required>

			  <p><label><b>密码：</b></label></p>
			  <input type="password" placeholder="Enter Password" name="psw" required>
				
			  <p><button type="submit" class="button big fit">登录</p></button></p>
			  <p><input type="checkbox" checked=""> 记住我</p>
			</div>

			<div class="container" style="background-color:#f1f1f1">
			  
			  <span class="psw">忘记 <a href="#">密码?</a></span>
			</div>
		  </form>
		</div>
<div id ="register" class="modal">
		<form class="modal-content animate" method ="post" action="{%url 'blog:register' %}">
		{% csrf_token %}
		<div class="imgcontainer">
		<span onclick="document.getElementById('register').style.display='none'" class ="close" title="Close Modal">&times;</span>
		</div>
		<div class="container">
			<p><label><b>用户名：</b></label></p>
			<input type="text" placeholder="Your Name:" name="username" required>
			<p><label><b>密码：</b></label></p>
			<input type="text" placeholder="Password:" name="password" required>
			<p><label><b>确认密码：</b></label></p>
			<input type="text" placeholder="Password:" name="password-repeat" required>
			<p><label><b>邮箱：</b></label></p>
			<input type="text" placeholder="Your Email:" name="email" required>
			<div class="container" style="background-color:#f1f1f1">
			<p><span><input type="checkbox" checked="">我接受xxx用户协议<a href="#">LLLLL</a>。</span></p>
			</div>
				<p><button type="submit" class="button big fit" >注册</button></p>
		  </div>
		 </form>
</div>
<script>
// 获取模型
var modal = document.getElementById('register');
var modal2 = document.getElementById('login');
// 鼠标点击模型外区域关闭登录框
window.onclick = function(event) {
    if (event.target == modal ) {
        modal.style.display = "none";
    }
	else if(event.target == modal2){
		modal2.style.display = "none";
	}
}
</script>