<!-- Post -->
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="#">{{article.title}}</a></h2>
				<p>{{article.brief}}</p>
			</div>
			<div class="meta">
				<time class="published" >{{article.post_time}}</time>
				<a href={%url 'blog:get_information' article.author.id %} class="author"><span class="name">{{article.author.username}}</span><img src="/static/images/{{article.author.avatar}}"width="30" class="img-circle"></a>
			</div>
		</header>
<span>
		{%if article.img_num == 1%}
		{%for img in img_list%}
		{%if img.article == article%}
<a href="#" class="image featured"><img src='/static/images/{{img.image_url}}' alt="" /></a>
		{%endif%}
		{%endfor%}
		{%else%}
		{%for img in img_list%}
		{%if img.article == article%}
<a href="#" class="image featured"><img src='/static/images/{{img.image_url}}' height="280" width="280" alt="" /></a>
		{%endif%}
		{%endfor%}
		{%endif%}
		<p>{{article.body}}</p>
</span>
		<footer>
			<ul class="actions">
				<li><a href={%url 'blog:post_detail' article.id%} class="button big">查看详情</a></li>
			</ul>
			<ul class="stats">
				{%if article.author.username == request.user.username%}
				<li><a href={%url 'blog:delete' article.id %}>删除</a></li>
				{%endif%}
				{%if article in mycollections_list%}
				<li><a href={%url 'blog:no_collect' article.id %}>取消收藏</a></li>
				{%else%}
				<li><a href={%url 'blog:collect' article.id %}>收藏</a></li>
				{%endif%}
				<li><a href="#" class="icon fa-heart">{{article.heart_num}}</a></li>
				<li><a href="#" class="icon fa-comment">{{article.comment_num}}</a></li>
			</ul>
		</footer>
		
	</article>
