<!-- Post -->
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="#">{{article.title}}</a></h2>
				<p>{{article.brief}}</p>
			</div>
			<div class="meta">
				<time class="published" datetime="2015-10-25">{{article.post_time}}</time>
				<a href="#" class="author"><span class="name">{{article.author.username}}</span><img src="images/avatar.jpg" alt="" /></a>
			</div>
		</header>
		<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
		<p>{{article.body}}</p>
		<footer>
			<ul class="actions">
				<li><a href="#" class="button big">Continue Reading</a></li>
			</ul>
			<ul class="stats">
				<li><a href="#">General</a></li>
				<li><a href="#" class="icon fa-heart">28</a></li>
				<li><a href="#" class="icon fa-comment">128</a></li>
			</ul>
		</footer>
		
	</article>
